<p align="right"><%= link_to "Change Password", :action => "change_passwd" -%></p>
<h1>Admin#list_postings</h1>
<ul>
	<% for posting in @all_postings %>
		<li id = <%= posting.id -%> ><%= link_to "[X]", { # link_to options
					:controller => 'admin',
					:action => 'delete_posting',
					:id => posting
				},
				{ # html options
					:method => :post,
					:confirm => "Really delete #{posting.id} ?"
				} %>
			<%= sprintf("[%06d -- %-16s] %-40s", 
				posting.id, handle_read(posting.author), title_read(posting.title)) -%>
<!-- 記事本文の最初の十数文字を出したい。-->
		</li>
	<% end %>
</ul>