<div class="CTS-form">
	<fieldset>
		<legend>Please Log In</legend>
		<% form_tag do %>
			<p>
				<label for="password">Password</labe>
				<%= password_field_tag :password, params[:password]%>
			</p>
			<p>
				<%= submit_tag "Log In" %>
			</p>
		<% end %>
	</fieldset>
</div>