<frameset rows = "40, 40%, *">
	<FRAME NAME = "Buttons" id = "Buttons" SRC = <%= buttons_url %> FRAMEBORDER = 6
			noresize = "noresize" scrolling = "no">
	<FRAME NAME = "Threads" id = "Threads" SRC = <%= threads_url %> FRAMEBORDER = 6>
	<!-- Article表示をここでおこなう -->
	<FRAME NAME = "Article" id = "Article" SRC = <%= article_url %> FRAMEBORDER = 6>
	<noframes>
	<body>
	<h1>表示するには、Frame対応のWeb Brouserが必要です。</h1>
	</body>
	</noframes>
</frameset>
<!-- とりあえずなんか出てくれ -->